<div class="menu">
  <div class="flex middle" (click)="show.dashboard=!show.dashboard">
    <i class="iconfont icon-data mr5"></i>
    <a class="full">总览</a>
    <i class="iconfont " [class.icon-angle-down]="show.dashboard" [class.icon-angle-right]="!show.dashboard"></i>
  </div>
  <div class="children" *ngIf="show.dashboard">
    <a routerLink="/cms/home" [class.active]="isActive('/cms/home')">
      数据总览
    </a>
    <a routerLink="/cms/user" [class.active]="isActive('/cms/user')">
      用户总览
    </a>
  </div>
</div>

<div class="menu">
  <div class="flex middle" (click)="show.demo=!show.demo">
    <i class="iconfont icon-app mr5"></i>
    <a class="full">项目</a>
    <i class="iconfont" [class.icon-angle-down]="show.demo" [class.icon-angle-right]="!show.demo"></i>
  </div>
  <div class="children" *ngIf="show.demo">
    <a routerLink="/cms/home" [class.active]="isActive('/cms/demo')">
      项目总览
    </a>
    <a routerLink="/cms/class" [class.active]="isActive('/cms/demo')">
      项目分析
    </a>
  </div>
</div>

<div class="menu">
  <div class="flex middle" (click)="show.demo2=!show.demo2">
    <i class="iconfont icon-edit mr5"></i>
    <a class="full">内容</a>
    <i class="iconfont " [class.icon-angle-down]="show.demo2" [class.icon-angle-right]="!show.demo2"></i>
  </div>
  <div class="children" *ngIf="show.demo2">
    <a routerLink="/cms/home" [class.active]="isActive('/cms/demo')">
      资源
    </a>
    <a routerLink="/cms/class" [class.active]="isActive('/cms/demo')">
      分析
    </a>
  </div>
</div>
