<div class="menu">
  <div class="flex middle">
    <i class="iconfont icon-home mr5"></i>
    <div class="full">总览</div>
    <i class="iconfont icon-angle-down"></i>
  </div>
  <div class="pl20">
    <a class="block" routerLink="/cms/home" [class.active]="isActive('/cms/home')">
      <i class="iconfont icon-composer mr5"></i>
      <span>首页</span>
    </a>
    <a class="block" routerLink="/cms/class" [class.active]="isActive('/cms/class')">
      <i class="iconfont icon-composer mr5"></i>
      <span>分类管理</span>
    </a>
  </div>
</div>
<div class="menu">
  <div class="flex middle">
    <i class="iconfont icon-home mr5"></i>
    <div class="full">解决方案</div>
    <i class="iconfont icon-angle-down"></i>
  </div>
  <div class="pl20">
    <a class="block" routerLink="/project/list" [class.active]="isActive('/project/list')">
      <i class="iconfont icon-composer mr5"></i>
      <span>列表</span>
    </a>
  </div>
</div>

<div class="menu">
  <div class="flex middle">
    <i class="iconfont icon-home mr5"></i>
    <div class="full">订单</div>
    <i class="iconfont icon-angle-down"></i>
  </div>
  <div class="pl20">
    <a class="block" routerLink="/order/dashboard" [class.active]="isActive('/order/dashboard')">
      <i class="iconfont icon-composer mr5"></i>
      <span>概览</span>
    </a>
    <a class="block" routerLink="/order/list" [class.active]="isActive('/order/list')">
      <i class="iconfont icon-composer mr5"></i>
      <span>列表</span>
    </a>
  </div>
</div>

<div class="menu">
  <div class="flex middle">
    <i class="iconfont icon-home mr5"></i>
    <div class="full">用户</div>
    <i class="iconfont icon-angle-down"></i>
  </div>
  <div class="pl20">
    <a class="block" routerLink="/user/dashboard" [class.active]="isActive('/user/dashboard')">
      <i class="iconfont icon-composer mr5"></i>
      <span>概览</span>
    </a>
    <a class="block" routerLink="/user/list" [class.active]="isActive('/user/list')">
      <i class="iconfont icon-composer mr5"></i>
      <span>列表</span>
    </a>
  </div>
</div>
