@import "src/variables";
@import "node_modules/le5le-ui/index";

.page {
  & > div {
    height: calc(100vh - 0.5rem);
    overflow: auto;
  }

  .menus {
    width: 2.1rem;
    padding: 0.2rem;
    flex-shrink: 0;
    background-color: #fff;
    border-right: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
    z-index: 10;
  }
}
