<div *ngIf="user">
  <div class="header">
    <div class="item">
      <a class=""><img src="../assets/img/favicon.ico" class="rel" style="max-height:0.36rem;top: 0" /></a>
    </div>

    <div class="item full ph10" #middle></div>

    <div class="item right" style="padding: 0 0;">
      <div class="user" *ngIf="user">
        <a class="pointer" style="padding: 0 .08rem">
          <i class="iconfont icon-peoplefill"></i>
          {{user.username}}
          <i class="iconfont icon-triangle-down"></i>
        </a>
        <div class="dropdown right">
          <div class="item"><a (click)="onSignout()">退出</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt60 border-top">
  <router-outlet></router-outlet>
</div>
<ui-echarts class='hidden'></ui-echarts>
