<div class="page">
  <div class="menus">
    <div class="item">
      <img src="/assets/img/favicon.ico" />
    </div>
    <div class="item">
      <a>
        文件
      </a>
      <div class="dropdown">
        <div class="item">
          <a class="flex" (click)="onMenu('new')">
            新建文件
            <span class="ml50">Ctrl + Alt + N</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('open')">
            打开文件...
            <span class="ml50">Ctrl + O</span>
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="onMenu('save')">
            保存到云端
            <span class="ml50">Ctrl + S</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('saveAs')">
            另存为...
            <span class="ml50">Ctrl + Shift + S</span>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>编辑</a>
      <div class="dropdown">
        <div class="item">
          <a (click)="onMenu('undo')">
            撤消
            <span class="ml50">Ctrl + Z</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('redo')">
            恢复
            <span class="ml50">Ctrl + Shift+ Z</span>
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="onMenu('cut')">
            剪切
            <span class="ml50">Ctrl + X</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('copy')">
            复制
            <span class="ml50">Ctrl + C</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('parse')">
            粘贴
            <span class="ml50">Ctrl + V</span>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>社区</a>
      <div class="dropdown">
        <div class="item">
          <a class="flex ">
            推荐
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a class="flex ">
            咨询与建议
          </a>
        </div>
        <div class="item">
          <a class="flex ">
            开源（GitHub）
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a>
            分享
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>帮助</a>
      <div class="dropdown">
        <div class="item">
          <a class="flex ">
            欢迎使用
          </a>
        </div>
        <div class="item">
          <a class="flex ">
            API开发教程
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a class="flex ">
            许可与声明
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a class="flex ">
            捐助与加入
          </a>
        </div>
        <div class="item">
          <a class="flex ">
            联系
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a>
            关于
          </a>
        </div>
      </div>
    </div>
    <div class="full"></div>
    <div class="flex ph20" *ngIf="!user">
      <div class="item">
        <a (click)="onSignup()">注册</a>
      </div>
      <div class="gray">/</div>
      <div class="item">
        <a (click)="onLogin()">登录</a>
      </div>
    </div>
    <div class="flex ph20" *ngIf="user">
      <div class="item">
        <a [href]="urls.account" class="flex middle">
          <ui-avatar
            class="mr5"
            [letters]="user.usernamePinyin"
            [img]="user.avatarUrl"
            [colors]="['#ff4d4f']"
          ></ui-avatar>
          {{ user.username }}
          <i class="iconfont icon-angle-down"></i>
        </a>
        <div class="dropdown right">
          <div class="item"><a [href]="urls.account">个人中心</a></div>
          <div class="item line"></div>
          <div class="item"><a (click)="onSignout()">退出</a></div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
