<div class="nav">总览</div>
<div class="panel m20">
  <div class="flex">
    <input class="input mr10" [(ngModel)]="search" placeholder="名称" />
    <button class="button">查询</button>
    <div class="full"></div>
    <button class="button primary">+ 新建</button>
  </div>
  <table class="border-none mt20">
    <tr>
      <th>名称</th>
      <th>数据</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    <tr>
      <td>
        <a routerLink="/cms/top-menu/view" [queryParams]="{ id: 'id' }">云产品</a>
      </td>
      <td>国内市场</td>
      <td>
        <span class="success">上线</span>
      </td>
      <td>
        <a class="mr15" routerLink="/cms/top-menu/view" [queryParams]="{ id: 'id' }">查看</a>
        <a routerLink="/cms/top-menu/edit" [queryParams]="{ id: 'id' }">编辑</a>
      </td>
    </tr>
    <tr>
      <td>
        <a routerLink="/cms/top-menu/view" [queryParams]="{ id: 'id' }">开发服务</a>
      </td>
      <td>国际市场</td>
      <td>
        <span class="error">下线</span>
      </td>
      <td>
        <a class="mr15" routerLink="/cms/top-menu/view" [queryParams]="{ id: 'id' }">查看</a>
        <a routerLink="/cms/top-menu/edit" [queryParams]="{ id: 'id' }">编辑</a>
      </td>
    </tr>

  </table>
</div>
